@keyframes custom_animation {
	from {
		opacity: 0;
	}
	to {
		transform: translateX(-120%) translateY(-50%);
		top: 50%;
		opacity: 1;
		top: 50%;
		left: 100%;
		position: absolute;
	}
}
.hamedpro8977_list_item {
	position: relative;
}
.hamedpro8977_icon {
	top: 50%;
	opacity: 0;
	left: 100%;
	transform: translateY(-50%);
	position: absolute;
}
.hamedpro8977_list_item:hover .hamedpro8977_icon {
	animation-name: custom_animation;
	animation-duration: 400ms;
	display: block;
	animation-fill-mode: forwards;
	top: 50%;
	opacity: 0;
	left: 100%;
	transform: translateY(-50%);
	position: absolute;
}
