@keyframes custom_animation {
	from {
		
		display: none;
		opacity: 0;
	}
	to {
		transform: translateX(-120%);
		opacity: 1;
	}
}
.icon {
	display: none;
    top: 50%;
		left: 100%;
		position: absolute;
}

.users_page_user_item:hover .icon {
	animation-name: custom_animation;
	animation-duration: 400ms;
    display:block;
    animation-fill-mode : forwards;
}
