@font-face {
	font-family: "markazi_text";
	src: url('../Markazi_Text/MarkaziText-VariableFont_wght.ttf');
}
table.custom_border {
	border: 1px solid black;
}
table.custom_border td {
	border: 1px solid black;
	padding: 0px 10px 0px 10px;
}
#root {
	height: 100%;
}
#x-container{
	min-height: calc(100% - 9rem);
}
body,
html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
* {
	font-family: "markazi_text";
}
.fa * {
	direction: rtl;
}
@keyframes custom_animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translate(+30%,-50%);
		position: absolute;
	}
	
}
.hamedpro8977_list_item {
	position: relative;
}
.hamedpro8977_icon {
	top: 50%;
	opacity: 0;
	left: 0%;
	transform:  translateY(-50%);
	position: absolute;
}
.hamedpro8977_list_item:hover .hamedpro8977_icon {
	animation-name: custom_animation;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
	transform: translateY(-50%);
	position: absolute;
}
